{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block js-headers %}
<script src="{% static 'dujour/js/leaflet-src.js' %}"></script>
{% endblock %}

{% block js-body %}
<script type="text/javascript">
var map = L.map('map', {
  minZoom: 20,
  maxZoom: 23,
  center: [0, 0],
  zoom: 22,
  crs: L.CRS.Simple
});

// dimensions of the image
var w = {{ object.file.width }},
    h = {{ object.file.height }},
    url = '/{{ object.file }}';

// calculate the edges of the image, in coordinate space
var southWest = map.unproject([0, h], map.getMaxZoom()-1);
var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
var bounds = new L.LatLngBounds(southWest, northEast);

// add the image overlay, 
// so that it covers the entire map
L.imageOverlay(url, bounds).addTo(map);

// tell leaflet that the map is exactly as big as the image
map.setMaxBounds(bounds);

// open modal to ask for quantity + comments on item click
$("#edit-dialog").dialog({
	autoOpen: false,
	width: 400,
	buttons: [
		{
			text: "Add to My Order",
			click: function() {
                $.ajax({
                    url : "{% url 'graphical_place_order' %}",
                    type : "POST",
                    dataType: "json",
                    data : {
                        menu_item_id: $('#menu-item-id').val(),
                        quantity: $('#quantity').val(),
                        comments: $('#comments').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    success : function(json) {
                        if (json['status'] === 'success')
                        {
                            location.reload();
                        }
                        else
                        {
                            alert('Error saving this region');
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        alert('Error: ' + xhr.status + ': ' + xhr.responseText);
                    }
                });
				$(this).dialog("close");
			}
		},
		{
			text: "Cancel",
			click: function() {
				$( this ).dialog( "close" );
			}
		}
	]
});

function editRegion(menuItemId) {
    $('#menu-item-id').val(menuItemId);
	$("#edit-dialog").dialog('open');
	event.preventDefault();
}

// draw menu item regions
{% for region in region_list %}
L.rectangle([[{{ region.ne_lat }}, {{ region.ne_lng }}], [{{ region.sw_lat }}, {{ region.sw_lng }}]], {color: "#ff7800", weight: 1}).addTo(map).on('click', function(e) { editRegion({{region.id}}); });
{% endfor %}

</script>
{% endblock %}

{% block css-headers %}
<link rel="stylesheet" href="{% static 'dujour/css/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'dujour/css/graphical_entry.css' %}" />
{% endblock %}

{% block content %}
<div id="map">
</div>

<div id="edit-dialog" title="Add Item">
    <input type="hidden" name="menu_item_id" id="menu-item-id"/>
    <label for="quantity-field">Quantity</label>
    <input type="text" id="quantity-field" name="quantity" value="1" size="2"/><br/>
    <label for="comments-field">Special&nbsp;Instructions/Comments</label><br/>
    <textarea id="comments-field" name="comments"></textarea>
</div>
{% endblock %}
