{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block js-headers %}
<script src="{% static 'dujour/js/leaflet-src.js' %}"></script>
{% endblock %}

{% block js-body %}
<script type="text/javascript">
var map = L.map('map', {
  minZoom: 20,
  maxZoom: 23,
  center: [0, 0],
  zoom: 22,
  crs: L.CRS.Simple
});

// dimensions of the image
var w = {{ object.file.width }},
    h = {{ object.file.height }},
    url = '/{{ object.file }}';

// calculate the edges of the image, in coordinate space
var southWest = map.unproject([0, h], map.getMaxZoom()-1);
var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
var bounds = new L.LatLngBounds(southWest, northEast);

// add the image overlay, 
// so that it covers the entire map
L.imageOverlay(url, bounds).addTo(map);

// tell leaflet that the map is exactly as big as the image
map.setMaxBounds(bounds);

// open modal to ask for quantity + comments on item click
$("#item-dialog").dialog({
	autoOpen: false,
	width: 400,
	buttons: [
		{
			text: "Add to My Order",
			click: function() {
                $.ajax({
                    url : "{% url 'graphical_place_order' restaurant.pk %}",
                    type : "POST",
                    dataType: "json",
                    data : {
                        menu_item_id: $('#menu-item-id').val(),
                        quantity: $('#quantity-field').val(),
                        comments: $('#comments-field').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    success : function(json) {
                        if (json['status'] === 'success')
                        {
                            $('#cart').show();
                            $('#cart').append("<hr/>" + $('#quantity-field').val() + ' ' + $('#item-name').html());
                        }
                        else
                        {
                            alert('Error saving this region');
                        }
                    },
                    error : function(xhr,errmsg,err) {
                        alert('Error: ' + xhr.status + ': ' + xhr.responseText);
                    }
                });
				$(this).dialog("close");
			}
		},
		{
			text: "Cancel",
			click: function() {
				$( this ).dialog( "close" );
			}
		}
	]
});

function addItem(menuItemId, menuItemName) {
    $('#menu-item-id').val(menuItemId);
    $('#quantity-field').val('1');
    $('#comments-field').val('');
    $('#item-name').html(menuItemName);
    $('#item-dialog').dialog( "option", "title", "Add Item" );
	$('#item-dialog').dialog('open');
    $('#comments-field').focus();
	event.preventDefault();
}

// draw menu item regions
{% for region in region_list %}
L.rectangle([[{{ region.ne_lat }}, {{ region.ne_lng }}], [{{ region.sw_lat }}, {{ region.sw_lng }}]], {color: "#ff7800", weight: 1}).addTo(map).on('click', function(e) { addItem({{region.id}}, "{{region.menu_item.name|escapejs}}"); });
{% endfor %}

</script>
{% endblock %}

{% block css-headers %}
<link rel="stylesheet" href="{% static 'dujour/css/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'dujour/css/graphical_entry.css' %}" />
{% endblock %}

{% block content %}
<div id="cart">
    <h2>My Order</h2>
</div>

<p><b>Restaurant:</b> {{ restaurant.name }}</p>

<div id="map">
</div>

<div id="item-dialog">
    <input type="hidden" name="menu_item_id" id="menu-item-id"/>
    <span id="item-name"></span><hr/>
    <label for="quantity-field">Quantity</label>
    <input type="text" id="quantity-field" name="quantity" value="1" size="2"/><br/>
    <label for="comments-field">Special&nbsp;Instructions/Comments</label><br/>
    <textarea id="comments-field" name="comments"></textarea>
</div>
{% endblock %}
