{% extends 'base.html' %}

{% load static %}

{% block css-headers %}
    <link href="{% static 'dujour/css/order_list.css' %}" rel="stylesheet"/>
{% endblock css-headers %}

{% block content %}
    {% regroup object_list by restaurant as restaurant_list %}
    {% for restaurant in restaurant_list %}

        {% if not forloop.first %}
            <div class="page-break"></div>
        {% endif %}

        <h3>Restaurant: {{ restaurant.grouper.name }}</h3>

        <table>
        <thead>
        <tr>
            <td>Employee</td>
            <td>Quantity</td>
            <td>Item</td>
            <td>Comments</td>
        </tr>
        </thead>
        {% for order in restaurant.list %}
            <tr>
                <td>{{ order.user.first_name }} {{ order.user.last_name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.menu_item.name }}</td>
                <td>{{ order.comments }}</td>
            </tr>
        {% endfor %}
        </table>

    {% endfor %}



{% endblock content %}