{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block js-headers %}
<script src="{% static 'dujour/js/leaflet-src.js' %}"></script>
<script src="{% static 'dujour/js/locationfilter.js' %}"></script>
{% endblock %}

{% block js-body %}
<script src="{% static 'dujour/js/menuadmin.js' %}"></script>
<script type="text/javascript">
var map = L.map('map', {
  minZoom: 20,
  maxZoom: 23,
  center: [0, 0],
  zoom: 22,
  crs: L.CRS.Simple
});

// dimensions of the image
var w = {{ object.file.width }},
    h = {{ object.file.height }},
    url = '/{{ object.file }}';

// calculate the edges of the image, in coordinate space
var southWest = map.unproject([0, h], map.getMaxZoom()-1);
var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
var bounds = new L.LatLngBounds(southWest, northEast);

// add the image overlay, 
// so that it covers the entire map
L.imageOverlay(url, bounds).addTo(map);

// tell leaflet that the map is exactly as big as the image
map.setMaxBounds(bounds);

// add "select area" button to map
var locationFilter = new L.LocationFilter().addTo(map);

// bind button to input function
$('#but-create').click(function() {
	var bounds = locationFilter.getBounds();
	$.ajax({
        url : "{% url 'menu_admin_create_item_and_region' %}",
        type : "POST",
        dataType: "json", 
        data : {
            menu_id: {{ object.id }},
            menu_item_name: $('#menu_item_name').val(),
            menu_item_price: $('#menu_item_price').val(),
            ne_lat: bounds.getNorthEast().lat,
            ne_lng: bounds.getNorthEast().lng,
            sw_lat: bounds.getSouthWest().lat,
            sw_lng: bounds.getSouthWest().lng,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            },
        success : function(json) {
            alert(json.server_response);
        },
        error : function(xhr,errmsg,err) {
            alert(xhr.status + ": " + xhr.responseText);
        }
    });
});

function my_js_callback(data){
    alert(data.message);
}

</script>
{% endblock %}

{% block css-headers %}
<link rel="stylesheet" href="{% static 'dujour/css/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'dujour/css/locationfilter.css' %}" />
<link rel="stylesheet" href="{% static 'dujour/css/menuadmin.css' %}" />
{% endblock %}

{% block content %}
<div id="map"></div>

<div id=""
<p>
	Menu item name: <input type="text" id="menu_item_name"/><br/>
	Menu item price: <input type="text" id="menu_item_price"/><br/>
	<input type="button" id="but-create" value="Create menu item"/>
</p>
{% endblock %}