{% extends 'base.html' %}

{% load staticfiles %}
{% load static %}

{% block js-headers %}
    <script src="{% static 'dujour/js/leaflet-src.js' %}"></script>
    <script src="{% static 'dujour/js/locationfilter.js' %}"></script>
{% endblock %}

{% block js-body %}
    <script type="text/javascript">
        {% include "menuadmin/menu.js" %}
    </script>
{% endblock %}

{% block css-headers %}
    <link rel="stylesheet" href="{% static 'dujour/css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'dujour/css/locationfilter.css' %}" />
    <link rel="stylesheet" href="{% static 'dujour/css/menuadmin.css' %}" />
{% endblock %}

{% block content %}
    <div id="map"></div>

    <p>
        <input type="hidden" id="menu_item_region_id"/>
        <input type="hidden" id="region_ne_lat"/>
        <input type="hidden" id="region_ne_lng"/>
        <input type="hidden" id="region_sw_lat"/>
        <input type="hidden" id="region_sw_lng"/>
        Menu item name: <input type="text" id="menu_item_name" style="width:300px"/><br/>
        Menu item price: <input type="text" id="menu_item_price"/><br/>
        <input type="button" id="but-create" value="Create"/>
        <input type="button" id="but-options" value="Manage Options" style="display:none"/>
        <input type="button" id="but-update" value="Update" style="display:none"/>
        <input type="button" id="but-delete" value="Delete" style="display:none"/>
    </p>
{% endblock %}