#map {
  width: 100%;
  height: 700px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input {
  margin-top: -10px;
}

label {
  float: left;
  text-align: left;
  margin-right: 15px;
  width: 100px;
  clear: both;
}

#comments-field {
  clear: both;
  width: 100%;
  height: 80px;
}

#cart {
  display: none;
  position:absolute;
  top:0;
  right:0;
  width: 200px;
  height: 200px;
  background: lightblue;
  z-index: 1;
}
